{% extends "base.html" %}
{% load static %}

{% block title %}Contactos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Portafolio/css/contactos.css' %}">
{% endblock %}
{% block page_content %}
  <div class="Titulo">
    <img src="{% static 'Portafolio/assets/Titulo/Si te Interesa.png' %}" alt="" width="700">
  </div>

  <div class="contenedor">
    <div class="Contactos" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Contactos.png' %}'); background-size: cover; background-position: center;">
      <img src="{% static 'Portafolio/assets/Titulo/Mis Redes.png' %}" alt="Mis redes" width="400" height="auto">
      <div class="Redes">
        <ul>
          <li><a href="https://github.com/Joaco-HR"><img src="{% static 'Portafolio/assets/Logos/Logo Git Hub.png' %}" alt="GitHub" width="80"><span>GitHub</span></a></li>
          <li><a href="https://www.instagram.com/joaquin_hr17/"><img src="{% static 'Portafolio/assets/Logos/Logo Instagram.png' %}" alt="Instagram" width="80"><span>Instagram</span></a></li>
          <li><a href="https://www.linkedin.com/in/joaquin-rodriguez-18345436b/"><img src="{% static 'Portafolio/assets/Logos/Logo Linkedin.png' %}" alt="Linkedin" width="80"><span>LinkedIn</span></a></li>
        </ul>
      </div>
      
      <div class="Descargar-CV">
        <a href="{% static 'Portafolio/assets/Cv - Joaquin Hernan Rodriguez.pdf' %}" class="Boton-CV"> <span>Ver Mi CV</span></a>
      </div>
    </div>

    <div class="Contactos" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Contactos.png' %}'); background-size: cover; background-position: center;">
      <form class="Formulario" action="https://formspree.io/f/mjkroago" method="POST">
        <img src="{% static 'Portafolio/assets/Titulo/Contactame.png' %}" alt="" width="450" height="auto">
        
        <div class="form-group">
          <label for="email"><a href="{% static 'Portafolio/assets/Imagenes/egggggs.png' %}">Tu Email:</a></label>
          <input type="email" id="email" name="email" required placeholder="ejemplo@email.com">
        </div>

        <div class="form-group">
          <label for="nombre">Tu Nombre:</label>
          <input type="text" id="nombre" name="nombre" required placeholder="Tu nombre completo">
        </div>
        
        <div class="form-group">
          <label for="asunto">Asunto:</label>
          <input type="text" id="asunto" name="asunto" required placeholder="¿De qué quieres hablar?">
        </div>
        
        <div class="form-group">
          <label for="mensaje">Tu Mensaje:</label>
          <textarea id="mensaje" name="mensaje" required placeholder="Escribe tu mensaje aquí..."></textarea>
        </div>
        <button type="submit" class="Enviar">Enviar Mensaje</button>
      </form>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {  
    const logo = document.querySelector('.Barra ul li a img'); 
    const subir = document.querySelector('.boton-subir img');
    logo.src = "{% static 'Portafolio/assets/Logos/Portafolio(contactos).png' %}";
    subir.src = "{% static 'Portafolio/assets/Logos/Subir(contactos).png' %}";
  });
</script>
{% endblock %}