{% extends "base.html" %}
{% load static %}

{% block title %}Que Conozco{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Portafolio/css/Que_Conozco.css' %}">
{% endblock %}

{% block page_content %}
  <div class="Titulo">
    <img src="{% static 'Portafolio/assets/Titulo/Titulo.png' %}" alt="" width="800" height= auto>
    <ul>
      <li><a href="#Bloques" ><img src="{% static 'Portafolio/assets/Logos/Logo Scracht.png' %}" alt="Bloques" width="150" height="150"></a></li>
      <li><a href="#Python"><img src="{% static 'Portafolio/assets/Logos/Logo Phyton .png' %}" alt="Python" width="150" height="150"></a></li>
      <li><a href="#HTML y CSS"><img src="{% static 'Portafolio/assets/Logos/Logo HTML.png' %}" alt="html" width="150" height="150"></a></li>
      <li><a href="#Qbasic"><img src="{% static 'Portafolio/assets/Logos/Logo Qbasic.png' %}" alt="QBasic" width="150" height="150"></a></li>
      <li><a href="#Arduino y C++"><img src="{% static 'Portafolio/assets/Logos/Logo Arduino.png' %}" alt="Arduino" width="150" height="150"></a></li>
    </ul>
  </div>
  <div class="contenedor_2" id="Bloques">
    <div class="Texto scracht" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Naranja.png' %}'); background-size: cover; background-position: center;">
        <div class="sticker-1"><img src="{% static 'Portafolio/assets/Imagenes/Gato Scratch.png' %}" width="100" height="100"></div>
        <img src="{% static 'Portafolio/assets/Titulo/Scracht.png' %}" alt="Titulo" width="600" height= auto>
        <p>Aprendí programación con bloques en la primaria utilizando el programa Scratch. Durante mi tiempo usando Scratch, aprendí a diseñar tanto fondos como personajes, a utilizar correctamente los bloques de movimiento, apariencia, sonido, eventos y controles, y luego, en menor medida, los sensores, operadores y variables. Logré desarrollar diferentes programas y juegos que, desgraciadamente, perdí.</p>
    </div>
  </div>

  <div class="contenedor_2" id="Python">
    <div class="Texto python" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Azul.png' %}'); background-size: cover; background-position: center;">
      <img src="{% static 'Portafolio/assets/Titulo/Python.png' %}" alt="Titulo" width="300" height= auto>
      <p>Aprendí a programar en Python en 2.° año del secundario hasta ahora. Lo primero que aprendí fue la sintaxis básica, como la definición y manejo de variables. Luego, el uso del <strong>print</strong> y los <strong>strings</strong> (diseño de mensajes). Después, aprendí a usar las funciones de decisión como <strong>if</strong> y los bucles <strong>for</strong> y <strong>while</strong>. Más adelante, aprendí la creación y manejo de listas, diccionarios y matrices. También aprendí a crear y codificar funciones y módulos (con <strong>def</strong>), y finalmente, la programación orientada a objetos (POO), definiendo clases y llamándolas desde otros programas. Además, aprendí a utilizar librerías externas.</p>
      <p>También aprendí a utilizar a un alto nivel la librería <strong>pygame</strong>, con la cual desarrollé varios proyectos escolares. En menor medida, aprendí a usar las librerías <strong>random</strong>, <strong>json</strong>, <strong>tkinter</strong>, entre otras de distintos tipos.</p>
      <div class="sticker-2"><img src="{% static 'Portafolio/assets/Logos/Logo Phyton .png' %}" width="100" height="100"></div>
    </div>
  </div>

  <div class="contenedor_2" id="HTML y CSS">
      <div class="Texto html" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Rosa.png' %}'); background-size: cover; background-position: center;">
        <img src="{% static 'Portafolio/assets/Titulo/HTML-Y-CSS.png' %}" alt="Titulo"  width= "400" height= auto>
        <p>Aprendí a programar con HTML y CSS en 2.° año del secundario hasta ahora.</p>
        <p>De HTML he aprendido a crear títulos, subtítulos, párrafos, cargar imágenes y ajustar sus tamaños. También aprendí a crear listas, vincular elementos de la misma página o de otras páginas HTML, así como a crear botones, implementar <strong>div</strong> y <strong>nav</strong>, y separar contenidos en diferentes secciones.</p>
        <p>De CSS he aprendido a diseñar páginas HTML aplicando colores a fondos y textos, usando márgenes, bordes y rellenos para estructurar los elementos. Manejo <strong>flexbox</strong> para alinear contenido y uso propiedades como <strong>position: fixed</strong> y <strong>z-index</strong> para organizar elementos en capas. También sé aplicar sombras, transiciones y efectos al pasar el cursor para mejorar la interacción. He trabajado con distintas tipografías y estilos de texto, y sé dividir el diseño en secciones con clases específicas, dándoles un estilo propio y coherente.</p>
        <p>En resumen, mis conocimientos de HTML y CSS me han permitido crear páginas visualmente agradables, interactivas y bien estructuradas, aplicando buenas prácticas de diseño y organización del código.</p>
      </div>
  </div>

  <div class="contenedor_2" id="Qbasic">
      <div class="Texto qbasic" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Violeta.png' %}'); background-size: cover; background-position: center;">
        <img src="{% static 'Portafolio/assets/Titulo/Qbasic.png' %}" alt="Titulo"  width="300" height= auto>
        <p>Aprendí a programar en QBasic en 3.° año. Durante ese tiempo lo usé para traducir ejercicios hechos en Python, aprendiendo así a usar este lenguaje más antiguo. Aprendí a definir variables, imprimir elementos, cambiarles el color y la posición, usar estructuras <strong>if</strong> y <strong>case</strong>, bucles <strong>for</strong> y <strong>do</strong>. Más adelante, trabajé con listas y matrices, y lo último que vi fue la definición de funciones sencillas.</p>
      </div>
  </div>

  <div class="contenedor_2" id="Arduino y C++">
    <div class="Texto css" style="background-image: url('{% static 'Portafolio/assets/Fondos/Fondo Verde.png' %}'); background-size: cover; background-position: center;">
      <img src="{% static 'Portafolio/assets/Titulo/Arduino-y-C.png' %}" alt="Titulo"  width="500" height= auto>  
      <p>
        Aprendí a programar con Arduino desde 2.° año, aunque me enfoqué más seriamente en 3.° año. Durante este tiempo trabajé con Tinkercad y diferentes componentes como LEDs, pulsadores, potenciómetros, sensores de temperatura, servos, sensores de distancia, buzzers, sensores analógicos con ADC, motores y sensores tipo puntero H.  
        Aprendí a estructurar correctamente los programas con <strong>void setup()</strong> y <strong>void loop()</strong>, a definir variables y a controlar la intensidad o el funcionamiento de los componentes. Además, utilicé condicionales <strong>if</strong> y bucles <strong>while</strong>.  
        También tengo experiencia usando la librería de servos, el manejo de sensores analógicos y conozco el uso de interrupciones para responder a eventos en tiempo real.
      </p>
      <p>
        Debido a que el lenguaje de Arduino está inspirado en C++, tuve un período donde aprendí a realizar algunas cosas aparte de lo mencionado para ayudar a mi hermano (que estudia electrónica) con algunos de sus proyectos. Allí aprendí a trabajar con una pantalla TFT LCD, aprendiendo en el proceso algunos elementos más avanzados de C++ y algunas librerías relacionadas con dicha pantalla.
      </p>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {  
    const logo = document.querySelector('.Barra ul li a img'); 
    const subir = document.querySelector('.boton-subir img');
    logo.src = "{% static 'Portafolio/assets/Logos/Portafolio(que conozco).png' %}";
    subir.src = "{% static 'Portafolio/assets/Logos/Subir(que conozco).png' %}";
  });
</script>
{% endblock %}