@import url('base.css');

body {
  background: radial-gradient( #e2f8fd, #cef5ff, #62e0ff);
}

body.modo-sueno{
  background: radial-gradient(#f2f2f2, #e5e5e5, #b0b0b0);
} 


.contenedor_2{
  display: flex;
  width: 100%;
  padding: 4rem;
  gap: 6rem;
  box-sizing: border-box;
}

.Texto{
  color: #ffffff;
  display: block;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5rem;
  flex-grow: 3;
  gap: 3rem;
  border: 6px solid #a0a0a0;
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.2);
}

.Texto img{
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6px;
}

.sticker-1 {
  position: absolute;
  top: 6px;
  right: 20px;
  border-radius: 100px;
  border: 6px solid #ffffff;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
  transform: rotate(10deg);
}

.sticker-2{
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 30px;
  transform: rotate(10deg);
  border: 3px solid #3a3333;
  background-color: rgb(255, 255, 255);
}

.Texto h1{
  color: black;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Bangers', cursive;
  margin-bottom: 2rem;
}

.Texto p{
  font-family: 'Baloo 2', cursive;
  font-size: 1.25rem;
  line-height: 1.4;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 6px solid #000000;
  box-shadow: 15px 8px 12px rgba(209, 203, 203, 0.2);
}