{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Portafolio/css/blog.css' %}">
{% endblock %}
{% block page_header %}
    <div class="Contenedor">
        <div class="Titulo">
            <a href="{% static 'Portafolio/assets/Imagenes/egg.png' %}"><img src="{% static 'Portafolio/assets/Titulo/Recetario.png' %}" alt="Mi Blog" width="600" height="auto"></a>
            <h2>Aparte de la programación, uno de mis talentos es la cocina. En este blog podrás ver una serie de diferentes recetas que he hecho.</h2>
        </div>
    </div>
{% endblock page_header %}

{% block page_content %}{% endblock %}